<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/result.css">
</head>
<body>
    <div class="container">
        <div>
            <h1><%= name%>님 마이페이지</h1>
            <div class="content">

                <img src="/<%= filePath%>" alt=""><br>
                <label for="">아이디 <span><%= uId%></span></label><br>
                <label for="">비밀번호 <span><%= pw%></span></label><br>
                <label for="">이름 <span><%= name%></span></label><br>
                <label for="">나이 <span><%= age%></span></label><br>
            </div>
        </div>
    </div>
    </body>
</html>